/* CSS stylesheet */

fieldset {
    background-color: rgb(200, 250, 253); border: solid 5px #005da1;
}

legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
}

input {
    margin: .4rem; background-color: rgb(250, 248, 219);
    margin-left: ;
}

textarea {
    background-color:rgb(250, 248, 219);
}

button {
    margin-top: 10px;
    background-color: black; color: rgb(253, 253, 253);
    margin-left: 80px;
}

label {
    font-style: italic; font-weight: bold; color: crimson;
}